@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@*TagHelper til links*@

<h2>Product Webshop</h2>

<p>
	<a asp-controller="Catalogue" asp-action="Index">Catalogue</a>
</p>
<p>
	<a asp-controller="Invoice" asp-action="Index">Invoice</a>
</p>

@*Standard HTML linking, overskrifter og paragrafer*@