@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using MbmStore.Infastructure;
@using MbmStore.Models;
@model IEnumerable<Product>
@*TagHelper til links*@
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Catalogue";
}
<h2>Product Webshop</h2>

@*Standard HTML linking, overskrifter og paragrafer*@