@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.min.css" />
	<title>WebStore</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">MusicBookMovie Store</a>
	</nav>
	<div class="row m-1 p-1">
		<div id="categories" class="col-3">
			<p>
				<a asp-controller="Home" asp-action="Index">Home</a>
			</p>
			<p>
				<a asp-controller="Catalogue" asp-action="Index">Catalogue</a>
			</p>
			<p>
				<a asp-controller="Cart" asp-action="Index">Cart</a>
			</p>

		</div>
		<div class="col-9">@RenderBody()</div>
	</div>
</body>
</html>
